<div class="container mt-5" *ngIf="mesa">
  <h3>Configurações da Mesa: {{ mesa.nome }}</h3>
  <form>
      <!-- Nome da mesa -->
      <div class="form-group">
          <label>Nome da Mesa</label>
          <input class="form-control" [(ngModel)]="mesa.nome" name="nomeMesa" placeholder="Nome da mesa" />
      </div>

      <!-- Descrição da mesa -->
      <div class="form-group mt-3">
          <label>Descrição</label>
          <textarea class="form-control" [(ngModel)]="mesa.descricao" name="descricaoMesa" placeholder="Descrição da mesa"></textarea>
      </div>

      <!-- Seleção do Sistema -->
      <div class="form-group mt-3">
        <label>Sistema</label>
        <select class="form-control" [(ngModel)]="selectedSistema" name="sistemaMesa">
          <option *ngFor="let sistema of sistemas" [value]="sistema.sistemaId">
            {{ sistema.nome }}
          </option>
        </select>
      </div>

      <!-- Participantes -->
      <div class="mt-4">
          <h5>Participantes</h5>
          <div *ngFor="let participante of mesa.participantes" class="d-flex justify-content-between align-items-center p-2 border rounded mb-2">
              <span>{{ participante.nome }}</span> <!-- Usando participante.nome -->
              <button *ngIf="participante.usuarioId !== mesa.criadorId" class="btn btn-danger" (click)="expulsarParticipante(participante)">
                  Expulsar
              </button>
          </div>
      </div>

      <button type="button" class="btn btn-primary mt-3" (click)="salvarMesa()">Salvar Alterações</button>
  </form>
</div>