/* You can add global styles to this file, and also import other style files */
body {
    background-color: #2b2933 !important; /* Fundo escuro com prioridade */
    color: #fff !important; /* Letras claras com prioridade */
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin: 0; /* Remove margem padrão */
    padding: 0; /* Remove padding padrão */
    overflow: hidden; /* Evita rolagem da página */
  }