.mesa-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.mapa {
  flex: 3; /* Ocupa 75% da tela */
  background-color: #444;
  position: relative;
}

.menu {
  flex: 1; /* Ocupa 25% da tela */
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.abas {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.abas button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.abas button.active {
  background-color: #666;
}

.conteudo-abas {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Mantém o overflow escondido no container */
  min-height: 0; /* Permite que o conteúdo encolha */
}

/* Garante que o app-chat ocupe todo o espaço */
app-chat {
  flex: 1;
  display: flex;
  min-height: 0;
}

.aba-fichas,
.aba-imagens,
.aba-config {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.btn-primary {
  background-color: #0052aa;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.ficha-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #444;
}

.ficha-item:hover {
  background-color: #333;
}

.censored-link {
  position: relative;
  display: inline-block;
  cursor: pointer; /* Indica que é interativo */
}

.censorship-bar {
  background-color: black;
  height: 1.5em; /* Ajuste a altura conforme necessário */
  width: 100%; /* Cobre todo o texto */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px; /* Bordas arredondadas, opcional */
}

.hidden-text {
  color: transparent; /* Torna o texto invisível */
  text-decoration: underline; /* Opcional: texto sublinhado para dar impressão de link */
  cursor: pointer; /* Cursor de ponteiro indicando interatividade */
}

.modal-window {
  position: absolute;
  border: 1px solid #ccc;
  background-color: #444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  resize: both;
  overflow: auto;
  width: 850px; /* Largura padrão */
  height: 800px; /* Altura padrão */
  min-width: 850px; /* Largura mínima */
  max-width: 850px; /* Largura máxima */
  min-height: 400px; /* Altura mínima */
  z-index: 1050; /* Garante que as modals fiquem acima de outros elementos */
}

.modal-header {
  cursor: move;
  background-color: #333;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.modal-body {
  padding: 10px;
}

.btn-close {
  cursor: pointer;
}
